#######################################
# Spring Boot Database Configuration
#######################################
DB_URL=jdbc:postgresql://postgres:5432/tododb
DB_USERNAME=postgres
DB_PASSWORD=postgres

#######################################
# PostgreSQL Container Configuration
#######################################
POSTGRES_DB=tododb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

BACKEND_TAG=LATEST

FRONTEND_TAG=LATEST
